<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detail de l'incident
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img [src]="MyPhoto" style="height:300px;width: 100%;"/>
    </ion-card-header>
  
    <ion-card-content>
      <strong>Secteur :</strong>{{Secteur}}<br/>
      <strong>Type :</strong>{{Type}}<br/>
     <!-- <strong>Region :</strong>{{Region}}<br/>
      
      <strong>Ville :</strong>{{Ville}}<br/>-->
      <strong>Province :</strong>{{Province}}<br/>
      <strong>Etet_Validation :</strong>{{Etet_Validation}}<br/>
      <strong>Description :</strong>{{Description}}<br/>
      <div id="mapId" style="width: 100%; height: 400px"></div>
    </ion-card-content>
    
  </ion-card>
</ion-content>
